body {
  display: flex;
  justify-content: center;
  background: white;
}

.weather-app {
  background: radial-gradient(
    circle at 48.7% 44.3%,
    rgb(30, 144, 231) 0%,
    rgb(56, 113, 209) 22.9%,
    rgb(38, 76, 140) 76.7%,
    rgb(31, 63, 116) 100.2%
  );
  max-width: 400px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  color: white;
}

.search-input {
  background-color: #f9f7fe;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
}

.search-button {
  margin-left: 5px;
  font-size: 16px;
  background: linear-gradient(90deg, #1e3d92, #606dde);
  color: white;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
}
#search button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#current-city {
  text-align: center;
  margin-bottom: 5px;
  font-weight: 600;
  color: white;
}
#temp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: linear-gradient(90deg, #1e3d92, #606dde);
  color: white;
  border-radius: 20px;
  padding: 20px;
}
#temp :hover {
  transform: scale(1.1);
  opacity: 90%;
}

#temp_img {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
}

#value {
  font-weight: bold;
  font-size: 50px;
  line-height: 55px;
  text-align: right;
}
#other_infos {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  background: linear-gradient(90deg, #1e3d92, #606dde);
  border-radius: 20px;
  text-align: center;
}
#other_infos div:hover {
  transform: scale(1.1);
  opacity: 90%;
}
#infos {
  margin-top: 30px;
  display: grid;
  grid-row: 1fr;
  gap: 12px;
}

footer {
  background: linear-gradient(90deg, #1e3d92, #606dde);
}
